/*=============== REUSABLE CSS CLASSES ===============*/
.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 4.5rem 3.5rem;

    &__title{
        color: var(--title-color);
        font-size: var(--big-font-size);
        font-family: var(--second-font);
        font-weight: var(--font-regular);
        line-height: 120%;
        text-align: center;
        margin-bottom: 1.5rem;
    }
}

.main{
    overflow: hidden; /* For animation ScrollReveal */
}