/*=============== BUTTON ===============*/
.button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--second-color);
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    box-shadow: 0 8px 32px hsla(39, 62%, 65%, .25);
    transition: box-shadow .3s;

    & i{
        font-size: 1.5rem;
        transition: transform .3s;
    }

    &:hover{
        box-shadow: 0 8px 48px hsla(39, 62%, 65%, .3);
    }
    &:hover i{
        transform: translateX(.25rem);
    }
}