/*=============== HEADER & NAV ===============*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--first-color);
    z-index: var(--z-fixed);
    transition: background .4s, box-shadow .4s;

    &__border{
        width: 100%;
        height: 2px;
        background-image: linear-gradient(90deg, 
                          var(--text-color-light) 50%, 
                          transparent 50%);
        background-size: 24px;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: opacity .3s;
    }
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo{
        & img{
            width: 28px;
        }
        color: var(--white-color);
        display: flex;
        align-items: center;
        column-gap: .5rem;
        font-size: var(--h3-font-size);
        font-family: var(--second-font);
    }

    @media screen and (max-width: 1023px){
        &__menu{
            position: fixed;
            bottom: 0;
            background: linear-gradient(180deg, 
                        var(--first-color) 0%,
                        var(--first-color-alt) 100%);
            border-radius: 56px 56px 0 0;
            box-shadow: 0 -2px 12px hsla(12, 32%, 12%, .3);
            width: 100%;
            padding: 1.25rem 4rem;
        }
    }
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__link{
        & i{
            background: linear-gradient(180deg,
                      hsl(39, 62%, 75%,) 0%,
                      hsl(39, 62%, 45%) 100%);
            color: transparent;
            -webkit-background-clip: text;
            font-size: 1.5rem;
        }
        color: var(--white-color);
        font-family: var(--second-font);
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: .25rem;
        transition: color .3s;

        &:hover{
            color: var(--second-color);
        }
    }
}

/* Change background header */
.scroll-header{
    box-shadow: 0 2px 8px hsla(12, 32%, 12%, .5);

    & .header__border{
        opacity: 0;
    }
}

/* Active link */
.active-link{
    color: var(--second-color);
}