/*=============== PRODUCTS ===============*/
.products{
    background-color: var(--first-color-alt);

    &__bg{
        background-color: var(--first-color);
        border-radius: var(--border-section);
    }

    &__container{
        row-gap: 3.5rem;
    }
    &__button{
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
        background-color: var(--first-color-alt);
        padding: 1rem 1.5rem;
        border-radius: 4rem;
        color: var(--white-color);
        font-weight: var(--font-medium);
        box-shadow: 0 8px 24px hsla(12, 32%, 8%, .5);
        margin-bottom: 2rem;
        transition: box-shadow .3s, transform .3s;

        & i{
            font-size: 1.5rem;
        }

        &:hover{
           box-shadow: 0 8px 32px hsla(12, 32%, 8%, .6);
            transform: translateY(.35rem);
        }
    }
    &__data,
    &__card{
        text-align: center;
        color: var(--white-color);
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 3.5rem 4.5rem;
    }
    &__img{
        width: 120px;
        filter: drop-shadow(0 4px 16px hsla(12, 32%, 16%));
        margin-bottom: 1.5rem;
        transition: transform .4s;

        &:hover{
            transform: translateY(-.35rem);
        }
    }
    &__name,
    &__price{
        font-size: var(--h2-font-size);
        font-family: var(--second-font);
        font-weight: var(--font-regular);
        line-height: 120%;
    }
}