/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    background-color: hsl(12, 8%, 65%);
}
::-webkit-scrollbar-thumb {
    background-color: hsl(12, 8%, 45%);
}
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(12, 8%, 35%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background: linear-gradient(180deg, 
                var(--first-color) 0%,
                var(--first-color-alt) 100%);
    display: inline-flex;
    padding: .60rem;
    border-radius: 50%;
    box-shadow: 0 0 8px hsla(12, 32%, 12%, .5);
    font-size: 1.1rem;
    color: var(--white-color);
    z-index: var(--z-tooltip);
    transition: bottom .5s, transform .3s;

    &:hover{
        transform: translateY(-.25rem);
    }
}

/* Show Scroll Up */
.show-scroll{
    bottom: 7rem;
}