@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root{
    --main-color:#EB2323;
    --black:#ffffff;
    --bg:#f9f9f9;
    --ft:#787878;
    --border:.1rem solid rgba(199, 199, 199, 0.3);


}



*{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;}

html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #787878;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem}
    
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.header{
    color: #787878;
    background: var(--bg);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .ri-home-heart-line{
    position: absolute;
    font-size: 30px;
    margin-left: 250px;
    color: #c8c8c8;
    padding: 30px 0;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin: 0 1rem;
    color: var(--ft);
    font-size: 2rem;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .2rem dotted var(--black);
    padding-bottom: .5rem;
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    width: 100%; height: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    color: var(--black);
    font-size: 2.2rem;
    margin-right: 1.5rem;
}

.header .search-form label:hover{
    color: var(--main-color);
}


/* home starts */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/홍은채\ 2.png);
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 70rem;
}

.home .content h3{
    font-size: 10rem;
    color: #fff;
    text-transform: uppercase;
}
.home .content p{
    color: #fff;
    font-size: 3rem;
    font-weight: normal;
    line-height: 1.8;
    padding: 1rem 0;
}

/* world starts */

.world .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.world .image{
    flex: 1 1 45rem;
    display: flex;
}
.world .image img{
    width: 50%;
    height: 100%;
}
.world .row .content{
    flex: 1 1 45rem;
    padding-left: 7rem;
    padding-top: 4rem;
    
}
.world .row .content h3{
    font-size: 3.5rem;
    color: var(--ft);
    padding-bottom: 2rem;
}

.world .row .content h4{
    font-size: 3rem;
    color: var(--ft);
    font-weight: bolder;
    padding-bottom: 1rem;
}

.world .row .content p{
    font-size: 1.6rem;
    color: #636363;
    padding: 1rem 0;
    line-height: 1.8;
}

swiper-container {
    width: 100%;
    height: 50rem;
    background: #fff;}

swiper-slide {
    font-size: 18px;
    color: var(--main-color);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
  }

/* koreajj starts */

.koreajj .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.koreajj .box-container .box{
    padding: 2rem;
    text-align: center;
    border: var(--border);
}
.koreajj .box-container .box img{
    width: 100%;
    height: 45rem;
}
.koreajj .box-container .box h3{
    color: var(--ft);
    font-size: 2.5rem;
    padding: 1rem 0;
}

.koreajj .box-container .box p{
    color: #aaa;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.koreajj .box-container .box .price span{
    font-size: 2rem;
    font-weight: bolder;
    color: #222;
}
.koreajj .box-container .box:hover{
    background-color: #ececec;
}
.koreajj .box-container .box:hover > *{color:var(--black)}

/* themes starts */

.themes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.themes .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
    background-color: var(--bg);
    }

.themes .box-container .box:hover{
    border: var(--main-color) solid 3px;
    }

.themes .box-container .box .image{
        padding: 2rem 0;
    }

.themes .box-container .box .image img{
        height: 35rem;
        width: 100%;
    }

.themes .box-container .box .icons a{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: #dedede solid 1px;
    border-radius: 50%;
    color: var(--main-color);
    margin: .3rem;
}
.themes .box-container .box .icons a:hover{
    color: EB2323;
}

.themes .box-container .box .content h3{
    color: var(--ft);
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

.themes .box-container .box .content h4{
    color: var(--ft);
    font-size: 1.8rem;
    font-weight: normal;
    padding-bottom: .5rem;
}

.themes .box-container .box .content .price{
    color: #EB2323;
    font-size: 2rem;
    font-weight: bolder;
}

/* premium start */

.premium .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.premium .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 1rem;
}

.premium .box-container .box p{
    color: var(--ft);
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem 0;
}

.premium .box-container .box .image{
    height: 80rem; width: 100%;
    overflow: hidden;
    display: flex;
    
}

.premium .box-container .box .image img{
    height: 100%; 
    width: 100%;
    object-fit: cover;
   
    
}



.premium .box-container .box h3{
    /* padding: 1rem 1rem; */
    color: #EB2323;
    font-size: 2.5rem;}

    
/* area start */

.area .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}

.area .box-container .box{
    border: var(--border); 
    height: 400px;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}
.area .box-container .box .image3{
    position: absolute;
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    background-image: url(../images/hong4.jpg); 
    background-repeat: no-repeat;
}

.area .box-container .box .image4{
    position: absolute;
    width: 100vh;
    height: 100vh;
    object-fit: cover;
   
    background-repeat: no-repeat;
}

.area .box-container .box .content{
    padding: 5rem;
}

.area .box-container .box .content .title{
    font-size: 4rem;
    color: #000000;
    line-height: 1.5;
    font-weight: bolder;
}
.tt{
    color: #222 !important;
    padding-bottom: 2rem;
    font-size: 3rem;
    
}
.bb{
    background: #EB2323 !important;
    border-radius: 20px;
    color: var(#2b2020);
}

.area .box-container .box .content span{
    color: var(--bg);
    padding-bottom: 2rem;
    font-size: 3rem;
    display: block;
}

.area .box-container .box  .content .btn{
    background: rgba(255,255,255,.4);
    border-radius: 20px;
    color: var(#fff);
}
.area .box-container .box  .content .span{
    color: #222;
}



/* .area .box-container .box .content .btn:hover{
    background: #EB2323;
    color: #fff;
} */

/* .area .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}


.area .box-container .box img{
    width: 50rem;
    height: 55rem;
    align-items: center;
}
.area .box-container .box2 img{
    width: 90rem;
    height: 34rem;
    padding-right: 60%;
    align-items: center;
   
    
}

.area .box-container .box .content{
padding: 2rem;
}
.area .box-container .box .content-box{

}



.area .box-container .box .content-box .title{
    font-size: 2.5rem;
    color:var(--ft);
    line-height: 1.5;
    font-weight: bolder;
    text-align: center;
    margin-top: 2rem;
}

.area .box-container .content .conbox1 img{
    height: 25rem;
    overflow: hidden;
    width: 100%;
   
}

.area .box-container .content .conbox1 p{
    color: var(--ft);
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: center;
    padding-bottom: 2rem;}

.area .box-container .content .conbox2 img{
    height: 25rem;
    overflow: hidden;
    width: 100%;
    }
    
.area .box-container .content .conbox2 p{
    color: var(--ft);
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: center;} */


/* airhotel starts */

.airhotel .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}

.airhotel .box-container .box{
    border: var(--border);
    height: 400px;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}
.airhotel .box-container .box .image1{
    position: absolute;
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    background-image: url(../images/archive1.PNG);
    background-repeat: no-repeat;
}

.airhotel .box-container .box .image2{
    position: absolute;
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    background-image: url(../images/archive2.PNG);
    background-repeat: no-repeat;
}

.airhotel .box-container .box .content{
    padding: 5rem;
}

.airhotel .box-container .box .content .title{
    font-size: 4rem;
    color: #fff;
    line-height: 1.5;
    font-weight: bolder;
}

.airhotel .box-container .box .content span{
    color: var(--bg);
    padding-bottom: 2rem;
    font-size: 3rem;
    display: block;
}

.airhotel .box-container .box .content .btn{
    background: rgba(255,255,255,.4);
    border-radius: 20px;
    color: var(#fff);
}

.airhotel .box-container .box .content .btn:hover{
    background: #EB2323;
    color: #fff;
}



/* event starts */

.event .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,auto));
    grid-gap: 1.7rem;
    align-items: center;
    margin-top: 1rem;
}

.event .container .box{
    background: rgb(255, 255, 255);
    height: 340px;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.8s;
}

.event .container .box1{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.3) 80%, #000 100%),
     url(../images/이벤트1.PNG) center center no-repeat;
    background-size: cover;
}
.event .container .box1:hover{
    transform: translateY(20px);
    transition: all 0.5s;
    opacity: 0.6;
}
.event .container .box2{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.3) 80%, #000 100%), 
    url(../images/이벤트2.PNG) center center no-repeat;
    background-size: cover;
}
.event .container .box2:hover{
    transform: translateY(20px);
    transition: all 0.5s;
    opacity: 0.6;
}
.event .container .box3{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.3) 80%, #000 100%),
     url(../images/이벤트3.PNG) center center no-repeat;
    background-size: cover;
}
.event .container .box3:hover{
    transform: translateY(20px);
    transition: all 0.5s;
    opacity: 0.6;
}
.event .container .box4{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.3) 80%, #000 100%), 
    url(../images/이벤트4.PNG) center center no-repeat;
    background-size: cover;
}
.event .container .box4:hover{
    transform: translateY(20px);
    transition: all 0.5s;
    opacity: 0.6;
}
.event .container .box5{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.3) 80%, #000 100%), 
    url(../images/이벤트2.PNG) center center no-repeat;
    background-size: cover;
}
.event .container .box5:hover{
    transform: translateY(20px);
    transition: all 0.5s;
    opacity: 0.6;
}
.event .container .in{
    position: absolute;
    bottom: 20px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.event .container .in h4{
    font-size: 20px;
}

.event .container .in p{
    font-size: 15px;
}

/* footer starts */

.footer{
    background:var(--bg);
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    color: var(--main-color);
    line-height: 5rem;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background: var(--main-color);
    color: #fff;
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    color: var(--ft);
    border: var(--border);
    font-size: 1.3rem;
    padding: .7rem 1rem;
}

.footer .links a:hover{
    background: var(--main-color);
    color: #fff;
}

.footer .credit{
    font-size: 1.5rem;
    color: var(--ft);
    padding: 1.5rem;
    font-weight: lighter;
}

.footer .credit span{
    color: var(--main-color);}


.footer .fin{
    color: #8b8b8b;
}




/* media queries */

@media (max-width:991px){
    html{
        font-size: 67%;
    }
   /* .header{
        padding: 1.5rem 2rem;
    }*/
    
}

@media (max-width:768px){
    #menu-btn{display: inline-block;}
    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: var(--bg);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar a{
        color: var(--ft);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .navbar a:hover{
        color: var(--main-color);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .navbar.active{
        right: 0;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

    swiper-container{
        height: 70rem;
    }

    .world .image{
        display: flex;
        flex-direction: column;
    }

    .world .image img{
        width: 100%;
        height: 40rem;
    }

    .world .row .content{
        padding-left: 3rem;
        padding-top: 2rem;}

    .world .row .content h3{
        font-size: 2.5rem;
        padding-bottom: 0.5rem;
    }
    
    .world .row .content h4{
        font-size: 2rem;
        padding-bottom: 0.5rem;
    }
    
    .world .row .content p{
        font-size: 1.3rem;
        padding: 0.5rem 0;
        line-height: 1.2;
    }

    .world .row .btn{
        padding-bottom: 0.8rem;
    }
    
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    swiper-container{
        height: 65rem;
    }

    .world .image img{
        width: 100%;
        height: 30rem;
    }

    .world .row .content{
        padding-left: 5rem;
        padding-top: 3rem;}

    .world .row .content h3{
        font-size: 2rem;
        padding-bottom: 0.5rem;
    } 

    .world .row .content p{
        padding-bottom: 1rem;
    }

}

